{% extends 'home/base.html'%}
{% block content %}
<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<style>
	body {background-color: #E8E8E8 }
    .box{
        width:70%;
        margin-top: 75px;
        margin-left:90px;
        background-color:#FFFFFF;
        float:left;
    }
    
    p{
        font-family:arial
    	font-size: 50px
    	color:#888888;
    	font-weight: bold;
    }

    .box1{
        width:30%;
        margin-top: 20px;
        margin-left:72%;
        background-color:#FFFFFF;	
    }
</style>
    <title>my home</title>
</head>

<body style="font-family:Comic Sans MS">
<section>
    <img src="https://media1.s-nbcnews.com/i/newscms/2018_45/2640841/181109-ocean-floor-acidity-sea-cs-327p_0c8e6758c89086c7dc520f4a8445fc08.jpg" style="width:100%">
</section>

<section class="w3-container w3-center w3-content" style="max-width: 600px">
<h2 class="w3-wide">WHY?</h2>
<p class="w3-opacity"><i>Ask us about something interesting for you!</i></p>
<p class="w3-justify">We have created out "WHY?" website because we all have different questions that make us think for a long time, make a mistake and even do not allow us to sleep at night. We know you can just write this in a google search engine, but have you found clear answers to your questions there? And based on this, we present you the site "Why?" which will answer all common questions.</p>
</section>

<section class="w3-row-padding w3-center w3-light-grey">
    <article class="w3-third">
    <p>Shuak</p>
    <img src="https://1tb.favim.com/preview/6/646/6461/64617/6461712.jpg" alt="Random name" style="width: 45%">
    <p>Backend Developer (of this website)</p>
</article>
    <article class="w3-third">
    <p>Botagoz</p>
    <img src="https://i.pinimg.com/originals/2d/d2/fc/2dd2fcf54274ca7e3adfcf2aa99d1a34.jpg" alt="Random name" style="width:50%">
    <p>Frontend Developer (of this website)</p>
</article>
</section>

<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
<p class="w3-medium">
Powered by <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_website_band" target="_blank">w3.css</a>
</p>
</footer>

</body>
{% endblock %}